<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: orange;">
    <center>
        <h1>Details of WEBPAGE</h1>

        <table border="3px">
            <tr>
                <th>TOPICNAME</th>
                <th>NAME</th>
                <th>URL</th>
            </tr>
            {% for so in WQS %}
                <tr>
                    <td>{{so.tname}}</td>
                    <td>{{so.name}}</td>
                    <td>{{so.url}}</td>
                    
                </tr>

            {% endfor %}
        </table>
    </center>
    
</body>
</html>